<div class="card">
    <div class="card-body">
        <h1>About</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            Harum sequi aperiam expedita nulla nostrum numquam sunt provident esse autem?
            Dolor fugiat quaerat illo vero, nobis quod enim quis numquam. Placeat.</p>
    </div>
</div>