<div class="jumbotron mt-4">
    <h1 class="display-4">Notes App NodeJS and MongoDB</h1>
    <p class="lead">Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
    <hr class="my-4">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit eligendi,
       quo minima sit harum fugit animi eaque dolores consequatur officiis, 
       necessitatibus mollitia non molestiae expedita cum quidem. Nam, voluptas dolor.</p>
    <a href="https://www.linkedin.com/in/augustonicolas3/" class="btn btn-primary btn-lg">LinkedIn</a>
</div>